<div class="container">
  <div class="row">
    <h3>ユーザー一覧</h3>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.name, admin_customer_path(customer) %></td>
            <td><%= customer.email %></td>
            <td><%= customer.is_deleted %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>