<div class="row d-flex flex-wrap">
  <% characters.each do |character| %>
    <div class=" col-3 flex-wrap">
      <%= link_to character_path(character),class: "top-link" do %>
        <%= image_tag character.get_character_image(150, 150) %>
        <p class="text-left text-dark"><span><%= character.name %></span></p>
        <p class="text-left text-dark"><%= character.greeting %></p>
      <% end %>
    </div>
  <% end %>
</div>
