<%= form_with model: genre, url: admin_genres_path, method: :post, local: false do |f| %>
  <div class="d-inline-block mr-2"><%= f.text_field :name, class: "form-control" %></div>
  <%= f.submit "ジャンル作成", class: "btn btn-success mt-lg-3" %>
<% end %>