<div class="">
  <div class="row">
    <div class="col-7 border border-secondary text-center ">ジャンル検索</div>
  </div>
  <% genres.each do |genre| %>
  <div class="row">
    <div class="col-7 border border-secondary pt-1 text-center"><%= genre.name %></div>
  </div>
  <% end %>
</div>