<div class="row">
  <div class="col-2">id</div>
  <div class="col-4">名前</div>
  <div class="col-4">挨拶</div>
  <div class="col-2">コメ数</div>
</div>
<% characters.each do |character| %>
  <div class="row border-top">
    <div class="col-2 py-2"><%= character.id %></div>
    <div class="col-4 py-2"><%= link_to character.name.truncate(13),  admin_character_path(character), class: "text-info" %></div>
    <div class="col-4 py-2"><%= character.greeting %></div>
    <div class="col-2 py-2"><%= character.comments.count %>件</div>
  </div>
<% end %>