@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


header {
  background-color:#3399FF;
}

main{
  min-height: calc(100vh - 56px - 136px);
  background-color: #EEEEEE;
  // padding-bottom: 100px;
}

footer {
  background-color:#3399FF;
  margin:0;
}